{% extends 'front.html.twig'%}

{% block body %}

<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ asset('uploads/'~post.image) }}" alt="..." /></div>
                    <div class="col-md-6">
                       
                        <h1 class="display-5 fw-bolder">{{post.title }}</h1>
                        {% if app.user %}
                        
                        {{ app.user.email }}
                        {% endif %}
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through"></span>
                            <span>{{ post.createdAt|date('d/m/Y') }} </span>
                        </div>
                        <p class="lead">{{post.content}}</p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-card-list me-1"></i>
                                Commenter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section> 





{% endblock %}